<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">password.1</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:18128;databaseName=MYREMINDER</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.default_schema">dbo</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping resource="hbm/Ruser.hbm.xml" />
		<mapping resource="hbm/Rcustomer.hbm.xml" />
		<mapping resource="hbm/Rdivision.hbm.xml" />
		<mapping resource="hbm/Remail.hbm.xml" />
	</session-factory>
</hibernate-configuration>
